<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "funtree.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Gosher CTO Gosherama Prod</h1>
		<p>Welcome to my first rails challenge - A simple blog app</p>
		<p>As my lady says...all this work for that ??./?/ yep a lot of work and lots of satisfaction to understand what is understand waht is under the hood</p>
	</div>
</div>